@using QRCodeBasedMetroTicketingSystem.ViewModels;
@model ProfileViewModel

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome, @Model.FirstName @Model.LastName!</h2>

<div>
    <p><strong>Email:</strong> @Model.Email</p>
</div>

